.header__nav{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    overflow: visible;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 600px;
}

.toggle_layout{
    position: absolute;
}

.input+:checked{
    color: var(--primary-color);
}

img{
    width: 6.5rem;
}

.donotdisplay{
    display: none;
}
