footer{
    margin-left: none;
    margin: .5rem;
    background-color: var(--body-color);
    height: 100%;
    min-width: 400px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

a{
    color: var(--text-color-muted);
}
small{
    
    color: var(--text-color-muted);
}
.header{
    display: none;
}

.row{
    margin-bottom: 2rem;
}

img{
    width: 6.5rem;
    align-self: center;
    padding-bottom: .5rem;
}

.icon{
    color: var(--text-color-muted);
}