<div class="container">
    <div class="inner cover">
        <h1 class="d-flex justify-content-center">Uh-oh!</h1>
        <p class="lead d-flex justify-content-center">We're sorry, something went wrong.</p>
        <p class="lead d-flex justify-content-center">If you need assistance, please click on the help button for support.</p>
        <p class="lead d-flex justify-content-center">
            <a routerLink="/home" class="btn btn-lg btn-outline-primary">Go Home</a>
        </p>
    </div>
</div>