
<div class="pt-5 ms-5 me-5" *ngIf="contact$ | async as contact">
        
        <div *ngIf="isDeleted" class="container">
                <div class="inner cover">
                        <h1 class="d-flex justify-content-center">Contact Deleted!</h1>
                        <p class="lead d-flex justify-content-center">View all contacts?</p>
                        <p class="lead d-flex justify-content-center">
            <a routerLink="/home" class="btn btn-lg btn-outline-primary">Go Home</a>
        </p>
                </div>
        </div>
        <h1>{{contact.firstName}}'s Details</h1>
        <ng-container class="container">
                <div class="card card-margin">
                        <div class="card-body">
                                <div class="content">
                                        <div class="content-header">
                                                <div class="content-title-wrapper">
                                                        <div class="content-circle">
                                                                <span class="content-initial">{{contact.firstName.charAt(0) | uppercase }}{{contact.lastName.charAt(0) | uppercase}}</span>
                                                        </div>
                                                        <div class="content-full-name">
                                                                <span class="text-muted content-first-name">{{contact.firstName | uppercase}}</span>
                                                                <span class="content-last-name">{{contact.lastName| uppercase}}</span>
                                                        </div>
                                                </div>
                                        </div>
                                        
                                        <table class="table table-borderless table-hover mt-3">
                                                <tbody>
                                                        <tr>
                                                                <td>First Name</td>
                                                                <td class="text-muted">{{contact.firstName}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td>Last Name</td>
                                                                <td class="text-muted">{{contact.lastName}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td>Phone Number</td>
                                                                <td class="text-muted">+1 ({{contact.phoneNumber.substring(0,3)}}) {{contact.phoneNumber.substring(3,6)}}-{{contact.phoneNumber.substring(6,10)}}</td>
                                                        </tr>
                                                        <tr>
                                                                <td>Email</td>
                                                                <td class="text-muted">{{contact.email}}</td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                        <div class="actions">
                                                <button routerLink="/home" class="action-btn" (click)="deleteContact()">
                                                        <fa-icon class="fa-lg"[ngStyle]="{color: 'red'}" [icon]="faTrash" aria-label="delete-contact"></fa-icon>
                                                </button>
                                        </div>
                                </div>
                        </div>
                </div>
        </ng-container>
        
        <div class="edit-back-buttons">
                <button class="btn btn-primary" aria-label="go-back" routerLink="/edit/{{contact.id}}">Edit Contact</button>
                <button class="btn btn-outline-primary" aria-label="go-back" routerLink="/home">Go back</button>
                
        </div>
</div>