body {
  background: var(--background-color);

}

h1 {
  word-break: break-all;
}

.card-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  display: flex;
  flex-direction: column;
  min-width: 400px;
  overflow-wrap: break-word;
  background-clip: border-box;
  background: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 1.5rem;
}


.content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  min-height: 48px;

}

.content__title-wrapper {
  display: flex;
  align-items: center;
  word-break: break-all;

}

.content__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color-light);
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.content__initials {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.content__full-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.content__first-name {
  font-size: 16px;
  color: var(--text-color-muted);
}

.content__last-name {
  color: var(--text-color);
  font-size: 16px;
}

.contact__information {
  color: var(--text-color-muted);
  word-break: break-all;

}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  text-align: right;
  margin-right: .5rem;
}

.action__btn {
  background: none;
  border: none;
  margin: none;
}

.btn-outline-danger {
  background: none;
  border: none;
  margin: .5rem;
  padding: none;
}

.btn-outline-danger:hover {
  background: none;
  border: none;
  color: var(--text-color);
}

.edit-back-buttons {
  display: flex;
  justify-content: flex-end;
}

.btn-outline-primary {
  margin-left: .5rem;
  color: var(--button-outline-color);
  border-color: var(--button-outline-color);
}

.btn-outline-primary:hover {
  margin-left: .5rem;
  color: var(--button-outline-hover-text-color);
  background-color: var(--toggle-color);
  border-color: var(--toggle-color);
  transition: 0.5s ease;
}

.table {
  overflow-x: scroll;
  min-width: 240px;
  max-width: 800px;
  font-size: 16px;
  color: var(--text-color);
}

.table-hover tbody tr:hover td {
  background: var(--background-color) !important;
  color: var(--toggle-color) !important;
}