body{
  background: var(--background-color);
}

.card-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-clip: border-box;
  background: var(--sidebar-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.card .card-header.no-border {
  border: 0;
}
.card .card-header {
  padding-top: 2rem;
  background: none;
  padding: 0 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 48px;
}
.table{
  overflow-x: scroll;
  min-width: 240px;
  max-width: 800px;
  font-size: 16px;
  color: var(--text-color);
}

.content .content-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.content .content-header .content-title-wrapper {
  display: flex;
  align-items: center;
}

.content .content-header .content-title-wrapper .content-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--accent-color);
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.content .content-header .content-title-wrapper .content-circle .content-initial {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.content .content-header .content-title-wrapper .content-full-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.content .content-header .content-title-wrapper .content-full-name .content-first-name {
  font-size: 16px;
}

.content .content-header .content-title-wrapper .content-full-name .content-last-name {
  color: var(--text-color);
  font-size: 16px;
}

.content .actions{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: .5rem;
  text-align: right;
  margin-right: .5rem;
}

.content .actions .action-btn{
  background: none;
  border: none;
  margin: none;
}

.edit-back-buttons{
  display: flex;
  justify-content: flex-end;
}

.edit-back-buttons .btn{
  margin-left: .5rem;
}