<div class="card">
        <div class="card-body">
                <h5 class="card-title">{{contact.id}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{contact.firstName}} {{contact.lastName}}</h6>
                <p class="card-text">{{contact.phoneNumber}} </p>
                <a routerLink="/details/{{contact.id}}" class="card-link">View More</a>
                <a routerLink="/edit/{{contact.id}}" class="card-link">Edit Contact</a>
                <button class="btn" (click)="onDelete(contact)"><fa-icon [ngStyle]="{color: 'red'}" [icon]="faTrash" aria-label="delete"></fa-icon></button>
        </div>
</div>
