.container{
    height: 100vh;
    background-color: #fff;
    padding-top: 2rem ;
    margin-right: 2rem;
    
}


.container .nav-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 4.5rem;
}

.container .nav-layout .options{
    margin-bottom: 100vh;
}

.isActive:focus{
    color: var(--text-color);
    border-radius: 16px;
    border-color: var(--primary-color);
}