.nav-layout {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    z-index: 2;
    padding: 1rem;
    margin-right: 1rem;
    width: 4.5rem;
}

.nav-layout .nav-pills .nav-link {
    color: var(--sidebar-color);
}

.nav-layout .nav-pills .nav-link:hover .fa-lg {
    color: var(--toggle-color);
    transition: .5s ease;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--toggle-color) !important;
    background: none !important;
}