
  <div class="nav-layout"> 
    <ul class="nav nav-pills nav-flush flex-column text-center">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link py-4" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
          <fa-icon class="fa-lg pt-2 pb-2" aria-label="Home" [icon]="faHome"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/add" routerLinkActive="active" class="nav-link py-4" title="Add Contact" data-bs-toggle="tooltip" data-bs-placement="right">
          <fa-icon class="fa-lg pt-2 pb-2" aria-label="add contact" [icon]="faAdd"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/favorites" routerLinkActive="active" routerLinkActive="active" class="nav-link py-4" title="Favorites" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Favorites">
          <fa-icon class="fa-lg pt-2 pb-2" aria-label="add contact" [icon]="faHeart"></fa-icon>  
        </a>
      </li>
      <li class="nav-item">
        <a href="https://usa.visa.com/support.html" target="_blank" rel="noopener noreferrer" 
        routerLinkActive="active" class="nav-link py-4" title="Support" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Support">
          <fa-icon class="fa-lg pt-2 pb-2" aria-label="add contact" [icon]="faQuestion"></fa-icon>  
        </a>
      </li>
    </ul>

    <!-- <div class="dropdown">  
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/visa_flag.png" aria-label= "flag" alt="flag" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownMenu">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->

  </div>
  