.row{
  margin: 1rem;
}

.col-lg-4{
  padding-left: 8px;
}

.card___component{
  margin-left: none;
}

.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow) 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(var(--box-shadow), 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 16px;
  background-color: var(--card-color);
}

.content__header{
  display: flex;
  background: none;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  border: 0;
  min-height: 48px;
  
}

.content__title--wrapper {
  display: flex;
  align-items: center;
}

.content__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color-light);
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.content__initials {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.content__full-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.content__first-name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-muted);
  word-break: break-all;
}

.content__last-name {
  font-size: 1rem;
  color: var(--text-color);
  word-break: break-all;
}

.dropdown ul {
  font-weight: 400;
  font-size: 16px;
  background-color: var(--card-color);
} 
.dropdown ul .dropdown-item{
  color: var(--text-color);
}
.dropdown ul .dropdown-item:hover{
  background-color: var(--body-color);
}
.content__phoneNumber {
  font-weight: 400;
  font-size: 16px;
  margin-top: 1rem;
  margin-left: .5rem;
  color: var(--text-color);
}

.phone__icon {
  margin-right: .5rem;
  color: var(--text-color);
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  text-align: right;
  margin-right: .5rem;
}

.btn--add{
  margin-left: 1.5rem;
  margin-right: 1rem;
  border-style: dashed;
  color: var(--text-color);
  border-color: var(--text-color);
}

.btn--add:hover{
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.action__btn{
  background: none;
  border: none;
  margin: none;
}

.btn-outline-danger{
  background: none;
  border: none;
  margin: none;
  padding: none;
}

.btn-outline-danger:hover{
  background: none;
  border: none;
  color: var(--text-color);
}

.btn__dropdown{
  color: var(--text-color);
}
