@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap'; 
//roboto

//default font is segoe-ui

:root{
    --sidebar-color: #EEF1FF;
    
    --trans-02: 0.2s ease;
    --trans-03: 0.3s ease;
    --trans-04: 0.4s ease;
    --trans-05: 0.5s ease;
    
}

* {
    font-family: 'Roboto',sans-serif;
}
body{
    
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    padding: 30px;
    
}