.container {
    display: grid;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 560px;
    margin: auto;
    padding-left: 6rem;
    grid-column: 1;
}

.image--hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 1rem;
    width: 25rem;
    grid-column: 2;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .contact__form {
        justify-content: center;
        padding: 0;
    }

    .image--hidden {
        display: none;
    }
}