<div class="container">
  <img class="image--hidden" src="assets/contact.png" alt="contact-form-image">
    <div class="d-flex align-items-center flex-column justify-content-center">
      <h1 tabindex="0">Edit Contact</h1>
      <app-contact-form [isEdit]= "true" [contact]="contact" (onSubmitEdited)="submitEdited($event)"></app-contact-form>
    </div>
</div>

<!-- <a href='https://www.freepik.com/vectors/job'>Job vector created by freepik - www.freepik.com</a>
  <a href='https://www.freepik.com/vectors/service-center'>Service center vector created by vectorjuice - www.freepik.com</a> -->