.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image--hidden{
    margin-left: 2rem;
    width: 45%;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .image--hidden{
        display: none;
    }
}