.container{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 30%;
    height: 30%;
}
.modal-header{
    justify-content: center;
}

.modal-content{
background-color: var(--body-color);
border: none;
box-shadow: none;
}